
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^achariyagroup\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.achariyagroup\.in$
RewriteRule ^/?$ "https\:\/\/achariyagroup\.in\/" [R=301,L]

